Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml

default_language_version:
  python: python3.12

repos:
  # --- SPDX Header Hook (local, must run before formatters) ---
  - repo: local
    hooks:
      - id: add-spdx-header
        name: Add SPDX license header to files
        entry: python backend/scripts/python/add_header_to_file.py
        language: system
        pass_filenames: true
        files: \.(py|ts|tsx|js|jsx)$

  # --- Core hygiene checks ---
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-merge-conflict

  # --- Ruff (lint + format) ---
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linter
        args: [--fix] # autofix simple errors
      - id: ruff-format
        name: Ruff formatter

  # --- Frontend lint & format via ESLint ---
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (frontend)
        entry: npm --prefix frontend run lint -- --fix
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

  # --- Frontend formatting using npm script calling Prettier ---
  - repo: local
    hooks:
      - id: prettier
        name: Prettier format (frontend, staged)
        entry: npm --prefix frontend run prettier
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$

chore(tooling): decouple pre-commit from backend dependencies
  .pre-commit-config.yaml
  Makefile
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore(makefile): improve test and dependency commands
  Makefile
Due: none

feat(backend): harden production admin configuration
  .github/scripts/smoke-images.sh
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/settings/prod.py
  backend/job_trackr/job_trackr/urls.py
Due: add-spdx-header

fix(tooling): make pre-commit target reproducible
  Makefile
Due: none

fix(backend): validate production admin URL path
  backend/job_trackr/job_trackr/settings/prod.py
Due: add-spdx-header

fix(backend): prevent admin URL route collisions
  backend/job_trackr/job_trackr/settings/prod.py
  backend/job_trackr/job_trackr/tests/test_prod_settings.py
Due: add-spdx-header

chore(deps): update backend dependencies and constrain Django to 6.0
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(backend): resolve candidacy serializer mypy error
  backend/job_trackr/apps/jobs/api/candidacies/serializers.py
Due: add-spdx-header

chore(dev): remove debugpy development tooling
  .vscode/launch.json
  backend/pyproject.toml
  backend/scripts/shell/debug_app.sh
  backend/scripts/shell/debug_fixtures.sh
  backend/uv.lock
  compose.dev.yml
Due: none

chore(dev): simplify development environment config
  .env.example
  .github/workflows/ci.yml
  .gitignore
  backend/.dockerignore
  backend/Dockerfile.dev
  backend/job_trackr/job_trackr/asgi.py
  backend/job_trackr/job_trackr/settings/dev.py
  backend/job_trackr/job_trackr/settings/test.py
  backend/job_trackr/job_trackr/wsgi.py
  compose.dev.yml
Due: add-spdx-header

chore(dev): simplify backend scripts layout
  .pre-commit-config.yaml
  backend/.coveragerc
  backend/pytest.ini
  backend/scripts/add_header_to_file.py
  backend/scripts/chown_user_migrations.bash
  backend/scripts/generate_api_key.py
  backend/scripts/generate_secret_key.py
  backend/scripts/python/__init__.py
  backend/scripts/script_logging.py
  backend/scripts/shell/add_spdx_header.sh
  backend/scripts/shell/mkdir_mounted_folders.sh
  backend/scripts/tests/test_add_header_to_file.py
  backend/scripts/tests/test_add_header_to_file_pep8_spacing.py
  backend/scripts/tests/test_add_header_to_file_shebang.py
  backend/scripts/tests/test_skip_blank_lines.py
Due: add-spdx-header

refactor(frontend): update authenticated app navigation
  frontend/src/app/Sidebar.tsx
  frontend/src/app/tests/AppLayout.test.tsx
  frontend/src/app/tests/Sidebar.test.tsx
  frontend/src/router.tsx
  frontend/src/tests/router.test.tsx
Due: add-spdx-header, eslint, prettier

refactor(frontend): simplify top bar actions
  frontend/src/app/TopBar.tsx
  frontend/src/app/tests/AppLayout.test.tsx
Due: add-spdx-header, eslint, prettier

feat(backend): add user account API
  backend/job_trackr/apps/users/api/serializers.py
  backend/job_trackr/apps/users/api/tests/test_user_account_api.py
  backend/job_trackr/apps/users/api/views.py
  backend/job_trackr/apps/users/urls.py
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/urls.py
Due: add-spdx-header

fix(backend): enforce lowercase username uniqueness
  backend/job_trackr/apps/users/api/serializers.py
  backend/job_trackr/apps/users/api/tests/test_user_account_api.py
  backend/job_trackr/apps/users/api/tests/test_user_account_serializer.py
  backend/job_trackr/apps/users/models.py
  backend/job_trackr/apps/users/tests/models/test_user_model.py
Due: add-spdx-header

fix(backend): handle signup username races
  backend/job_trackr/apps/users/auth/__init__.py
  backend/job_trackr/apps/users/auth/adapters.py
  backend/job_trackr/apps/users/auth/tests/test_account_adapter.py
  backend/job_trackr/apps/users/tests/test_auth_api.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

refactor(backend): reorganize allauth tests
  backend/job_trackr/apps/users/auth/tests/test_headless_auth_api.py
Due: add-spdx-header

fix(backend): exercise session authentication
  backend/job_trackr/apps/users/api/tests/test_user_account_api.py
Due: add-spdx-header

test(backend): cover verified email change flow
  backend/job_trackr/apps/users/auth/tests/test_headless_auth_api.py
Due: add-spdx-header

fix(users): validate username length after normalization
  backend/job_trackr/apps/users/api/serializers.py
  backend/job_trackr/apps/users/api/tests/test_user_account_api.py
Due: add-spdx-header

fix(users): validate normalized signup username length
  backend/job_trackr/apps/users/auth/adapters.py
  backend/job_trackr/apps/users/auth/tests/test_account_adapter.py
Due: add-spdx-header

fix(users): preserve concurrent account field updates
  backend/job_trackr/apps/users/api/serializers.py
  backend/job_trackr/apps/users/api/tests/test_user_account_serializer.py
Due: add-spdx-header

fix(users): validate usernames after normalization
  backend/job_trackr/apps/users/api/serializers.py
  backend/job_trackr/apps/users/api/tests/test_user_account_api.py
  backend/job_trackr/apps/users/auth/adapters.py
  backend/job_trackr/apps/users/auth/tests/test_account_adapter.py
Due: add-spdx-header

fix(users): normalize usernames before model validation
  backend/job_trackr/apps/users/models.py
  backend/job_trackr/apps/users/tests/models/test_user_model.py
  backend/job_trackr/apps/users/tests/test_admin.py
Due: add-spdx-header

fix(users): guard username normalization during validation
  backend/job_trackr/apps/users/models.py
  backend/job_trackr/apps/users/tests/test_admin.py
Due: add-spdx-header
