Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

fix(api): restore Location header in JobOpportunityViewSet.create()
  backend/job_trackr/apps/jobs/views.py
Due: add-spdx-header

refactor(jobs): remove legacy url usage and simplify opportunity API
  backend/job_trackr/apps/ingestion/services/ingestion_processor.py
  backend/job_trackr/apps/jobs/migrations/0007_remove_url_add_description.py
  backend/job_trackr/apps/jobs/models.py
  backend/job_trackr/apps/jobs/serializers.py
  backend/job_trackr/apps/jobs/views.py
  backend/tests/integration/job_trackr/api/test_jobs_api.py
Due: add-spdx-header

feat(jobs): add JobPostingReadSerializer and nested job postings
  backend/job_trackr/apps/jobs/serializers.py
  backend/job_trackr/apps/jobs/views.py
Due: add-spdx-header

fix(jobs, ingestion, tests): address PR feedback and improve API contract validation
  backend/job_trackr/apps/ingestion/services/ingestion_processor.py
  backend/job_trackr/apps/jobs/views.py
  backend/tests/integration/job_trackr/api/test_jobs_api.py
Due: add-spdx-header

refactor(jobs): split JobOpportunity serializers into list and detail
  backend/job_trackr/apps/jobs/serializers.py
  backend/job_trackr/apps/jobs/views.py
Due: add-spdx-header

fix(jobs): add migration to set default ordering on jobposting
  backend/job_trackr/apps/jobs/migrations/0008_alter_jobposting_ordering.py
Due: add-spdx-header

refactor(jobs): extract JobOpportunity and JobPosting into domain modules
  backend/job_trackr/apps/ingestion/services/ingestion_processor.py
  backend/job_trackr/apps/job_applications/models.py
  backend/job_trackr/apps/jobs/models.py
  backend/job_trackr/apps/jobs/opportunities/__init__.py
  backend/job_trackr/apps/jobs/opportunities/models.py
  backend/job_trackr/apps/jobs/opportunities/services/__init__.py
  backend/job_trackr/apps/jobs/opportunities/services/opportunity_identity.py
  backend/job_trackr/apps/jobs/postings/__init__.py
  backend/job_trackr/apps/jobs/postings/models.py
  backend/job_trackr/apps/jobs/services/__init__.py
  backend/tests/integration/job_trackr/api/test_jobs_api.py
  backend/tests/integration/job_trackr/models/test_job_applications.py
  backend/tests/integration/job_trackr/models/test_jobs_model.py
  backend/tests/integration/job_trackr/services/test_ingestion_processor.py
  backend/tests/unit/job_trackr/jobs/services/test_opportunity_identity.py
Due: add-spdx-header

refactor(api): reorganize jobs API into opportunities and postings modules
  backend/job_trackr/apps/jobs/api/__init__.py
  backend/job_trackr/apps/jobs/api/opportunities/__init__.py
  backend/job_trackr/apps/jobs/api/opportunities/serializers.py
  backend/job_trackr/apps/jobs/api/opportunities/views.py
  backend/job_trackr/apps/jobs/api/postings/__init__.py
  backend/job_trackr/apps/jobs/api/postings/serializers.py
  backend/job_trackr/apps/jobs/urls.py
Due: add-spdx-header

chore(jobs): clean up legacy modules and admin structure
  backend/job_trackr/apps/ingestion/tests.py
  backend/job_trackr/apps/job_applications/tests.py
  backend/job_trackr/apps/jobs/admin.py
  backend/job_trackr/apps/jobs/opportunities/admin.py
  backend/job_trackr/apps/jobs/postings/admin.py
  backend/job_trackr/apps/jobs/tests.py
  backend/pyproject.toml
Due: add-spdx-header

refactor(jobs): decouple JobPosting FK and align opportunity test structure
  backend/job_trackr/apps/jobs/postings/models.py
  backend/tests/unit/job_trackr/jobs/opportunities/services/test_opportunity_identity.py
Due: add-spdx-header

feat(jobs/postings): add JobPosting CRUD API with dedicated ViewSet
  backend/job_trackr/apps/jobs/api/postings/views.py
  backend/job_trackr/apps/jobs/urls.py
Due: add-spdx-header

refactor(jobs/postings): split JobPosting serializers into list, detail and write
  backend/job_trackr/apps/jobs/api/postings/serializers.py
Due: add-spdx-header

refactor(jobs/opportunities): decouple postings serializer from postings API
  backend/job_trackr/apps/jobs/api/opportunities/serializers.py
Due: add-spdx-header

test(jobs/postings): add integration tests for JobPosting API endpoints
  backend/tests/integration/job_trackr/jobs/postings/test_postings_api.py
Due: add-spdx-header

refactor(tests): reorganize jobs API tests into domain-based structure
  backend/tests/integration/job_trackr/jobs/conftest.py
  backend/tests/integration/job_trackr/jobs/opportunities/test_opportunities_api.py
Due: add-spdx-header

fix(jobs/postings): improve typing and narrow IntegrityError handling
  backend/job_trackr/apps/jobs/api/postings/views.py
Due: add-spdx-header

fix(jobs/postings): handle duplicate detection across DB backends and stabilize tests
  backend/job_trackr/apps/jobs/api/postings/views.py
  backend/tests/integration/job_trackr/jobs/postings/test_postings_api.py
Due: add-spdx-header

chore(dev): add frontend service to docker-compose and improve Makefile cleanup
  Makefile
  docker-compose.dev.yml
Due: none

chore(frontend): setup Vitest and React Testing Library
  frontend/package-lock.json
  frontend/package.json
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): integrate React Query provider
  frontend/src/app/AppProviders.tsx
Due: add-spdx-header, eslint, prettier

feat(job-postings): implement job postings list feature
  frontend/src/app/Sidebar.tsx
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
  frontend/src/features/jobs/postings/index.ts
  frontend/src/features/jobs/postings/pages/JobPostingsPage.tsx
  frontend/src/features/jobs/postings/routes.tsx
  frontend/src/features/jobs/postings/types.ts
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

test(job-postings): add tests for hooks and components
  frontend/src/features/jobs/postings/components/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/tests/utils.tsx
Due: add-spdx-header, eslint, prettier

refactor(frontend): remove deprecated job_offers feature
  frontend/src/api/jobOffer.ts
  frontend/src/features/job_offers/components/JobOfferList.tsx
  frontend/src/features/job_offers/components/JobOfferRow.tsx
  frontend/src/features/job_offers/hooks/useJobOffers.ts
  frontend/src/features/job_offers/index.ts
  frontend/src/features/job_offers/pages/JobOffersPage.tsx
  frontend/src/features/job_offers/routes.tsx
  frontend/src/features/job_offers/type.ts
  frontend/src/mocks/jobOffers.ts
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

chore(frontend/app): update UI labels, navigation and index exports
  frontend/src/app/Sidebar.tsx
  frontend/src/app/TopBar.tsx
  frontend/src/app/index.ts
Due: add-spdx-header, eslint, prettier

fix(job-postings): type axios response in listJobPostings
  frontend/src/features/jobs/postings/api/listJobPostings.ts
Due: add-spdx-header, eslint, prettier

fix(router): add missing routes for dashboard and settings
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

refactor(tests): introduce JobPosting factory and remove duplicated fixtures
  frontend/src/features/jobs/postings/components/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/tests/factories/jobPosting.ts
Due: add-spdx-header, eslint, prettier

fix(job-postings): handle empty location values in JobPostingCard
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
Due: add-spdx-header, eslint, prettier

chore(frontend): make Vite proxy target configurable via env
  frontend/.env.development
  frontend/vite.config.ts
Due: add-spdx-header, eslint, prettier

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
