Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

fix(frontend-jobs): separate candidacy filters from pagination
  frontend/src/features/jobs/candidacies/pages/JobCandidacyListPage.tsx
  frontend/src/features/jobs/candidacies/pages/tests/JobCandidacyListPage.test.tsx
Due: add-spdx-header, eslint, prettier

fix(frontend-jobs): normalize empty candidacy date filters
  frontend/src/features/jobs/candidacies/api/normalizeJobCandidacyParams.ts
  frontend/src/features/jobs/candidacies/api/tests/normalizeJobCandidacyParams.test.ts
Due: add-spdx-header, eslint, prettier

refactor(frontend-jobs): use fixed candidacy page size
  frontend/src/features/jobs/candidacies/api/normalizeJobCandidacyParams.ts
  frontend/src/features/jobs/candidacies/api/tests/normalizeJobCandidacyParams.test.ts
  frontend/src/features/jobs/candidacies/components/list/JobCandidacyList.tsx
  frontend/src/features/jobs/candidacies/components/tests/list/JobCandidacyList.test.tsx
  frontend/src/features/jobs/candidacies/hooks/tests/useJobCandidacies.test.ts
  frontend/src/features/jobs/candidacies/pages/JobCandidacyListPage.tsx
  frontend/src/features/jobs/candidacies/pages/tests/JobCandidacyListPage.test.tsx
  frontend/src/features/jobs/candidacies/types.ts
Due: add-spdx-header, eslint, prettier

feat(frontend-jobs): add candidacy filter controls component
  frontend/src/features/jobs/candidacies/components/list/JobCandidacyFilters.tsx
  frontend/src/features/jobs/candidacies/components/tests/list/JobCandidacyFilters.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-jobs): integrate candidacy filters into list page
  frontend/src/features/jobs/candidacies/pages/JobCandidacyListPage.tsx
  frontend/src/features/jobs/candidacies/pages/tests/JobCandidacyListPage.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-jobs): add candidacy filter state hook
  frontend/src/features/jobs/candidacies/hooks/tests/useJobCandidacyFilters.test.ts
  frontend/src/features/jobs/candidacies/hooks/useJobCandidacyFilters.ts
Due: add-spdx-header, eslint, prettier

feat(frontend-jobs): add candidacy filter query types
  frontend/src/features/jobs/candidacies/types.ts
  frontend/src/features/jobs/postings/choices.ts
Due: add-spdx-header, eslint, prettier

feat(frontend-jobs): normalize candidacy filter params
  frontend/src/features/jobs/candidacies/api/normalizeJobCandidacyParams.ts
  frontend/src/features/jobs/candidacies/api/tests/normalizeJobCandidacyParams.test.ts
Due: add-spdx-header, eslint, prettier

build(dev-makefile): support migration generation before startup
  Makefile
Due: none

feat(backend-users): add custom user model
  backend/job_trackr/apps/users/__init__.py
  backend/job_trackr/apps/users/admin.py
  backend/job_trackr/apps/users/apps.py
  backend/job_trackr/apps/users/migrations/0001_initial.py
  backend/job_trackr/apps/users/migrations/__init__.py
  backend/job_trackr/apps/users/models.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

feat(backend-auth): add session authentication endpoints
  backend/job_trackr/apps/users/api/__init__.py
  backend/job_trackr/apps/users/api/auth/__init__.py
  backend/job_trackr/apps/users/api/auth/serializers.py
  backend/job_trackr/apps/users/api/auth/views.py
  backend/job_trackr/apps/users/tests/test_auth_api.py
  backend/job_trackr/apps/users/urls.py
  backend/job_trackr/job_trackr/urls.py
Due: add-spdx-header

feat(backend-jobs): enforce user ownership of job data
  backend/job_trackr/apps/jobs/api/candidacies/serializers.py
  backend/job_trackr/apps/jobs/api/candidacies/views.py
  backend/job_trackr/apps/jobs/api/postings/views.py
  backend/job_trackr/apps/jobs/migrations/0001_initial.py
  backend/job_trackr/apps/jobs/migrations/0002_add_candidacy.py
  backend/job_trackr/apps/jobs/migrations/0003_add_candidacy_verbose_names.py
  backend/job_trackr/apps/jobs/migrations/0004_blank_charfield_textchoices.py
  backend/job_trackr/apps/jobs/migrations/0005_rename_posted_at_field_posted_on.py
  backend/job_trackr/apps/jobs/postings/models.py
  backend/job_trackr/apps/jobs/tests/api/candidacies/test_job_candidacy_api.py
  backend/job_trackr/apps/jobs/tests/api/candidacies/test_job_candidacy_query_api.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_job_posting_api.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_job_posting_pagination.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_job_posting_queries.py
  backend/job_trackr/apps/jobs/tests/factories/job_posting.py
  backend/job_trackr/apps/users/tests/factories/user.py
Due: add-spdx-header

fix(dev-makefile): separate compose service variable
  Makefile
Due: none

refactor(backend-demo): improve ownership-aware demo data
  backend/job_trackr/apps/common/demo_data/__init__.py
  backend/job_trackr/apps/common/demo_data/constants.py
  backend/job_trackr/apps/jobs/demo_data/job_candidacy.py
  backend/job_trackr/apps/jobs/demo_data/job_posting.py
  backend/job_trackr/apps/jobs/management/commands/seed_demo_jobs.py
  backend/job_trackr/apps/users/demo_data/__init__.py
  backend/job_trackr/apps/users/demo_data/user.py
  backend/pyproject.toml
Due: add-spdx-header

feat(jobs-admin): add ownership visibility to job resources
  backend/job_trackr/apps/jobs/candidacies/admin.py
  backend/job_trackr/apps/jobs/postings/admin.py
Due: add-spdx-header

fix(backend-auth): throttle repeated login attempts
  backend/job_trackr/apps/users/api/auth/views.py
  backend/job_trackr/apps/users/tests/test_auth_api.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

fix(backend-jobs-api): handle concurrent candidacy creation
  backend/job_trackr/apps/jobs/api/candidacies/serializers.py
Due: add-spdx-header

fix(backend-demo): narrow seeded user detection
  backend/job_trackr/apps/jobs/management/commands/seed_demo_jobs.py
Due: add-spdx-header

refactor(backend-auth): remove custom authentication API
  backend/job_trackr/apps/users/api/__init__.py
  backend/job_trackr/apps/users/api/auth/__init__.py
  backend/job_trackr/apps/users/api/auth/serializers.py
  backend/job_trackr/apps/users/api/auth/views.py
  backend/job_trackr/apps/users/tests/test_auth_api.py
  backend/job_trackr/apps/users/urls.py
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/urls.py
Due: add-spdx-header

build(backend): add django-allauth headless dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(backend): configure allauth headless authentication
  backend/job_trackr/apps/users/tests/test_auth_api.py
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/settings/dev.py
  backend/job_trackr/job_trackr/settings/prod.py
  backend/job_trackr/job_trackr/settings/test.py
  backend/job_trackr/job_trackr/urls.py
Due: add-spdx-header

fix(ci): align mypy checks across local and CI
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: none

feat(frontend): add auth types
  frontend/src/features/auth/types.ts
Due: add-spdx-header, eslint, prettier

test(frontend): add auth test factories
  frontend/src/tests/factories/auth.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): add auth API client
  frontend/src/features/auth/api/authApi.ts
  frontend/src/features/auth/api/tests/authApi.test.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): add session query hook
  frontend/src/features/auth/hooks/tests/useSession.test.ts
  frontend/src/features/auth/hooks/useSession.ts
  frontend/src/features/auth/keys.ts
Due: add-spdx-header, eslint, prettier

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
