Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

chore(repo): add .ignore file for cleaner search and tooling
  .ignore
Due: none

chore(tooling): add deptry for dependency analysis
  backend/pyproject.toml
Due: none

chore(vscode): add file associations for .coveragerc and .ignore
  .vscode/settings.json
Due: none

refactor(docker): restructure dev compose and Dockerfile layout
  .env.example
  Makefile
  backend/.dockerignore
  backend/Dockerfile.dev
  backend/docker/job-trackr/Dockerfile.dev
  backend/docker/job-trackr/entrypoint.sh
  backend/entrypoint_dev.sh
  backend/env/postgres/.env.example
  compose.dev.yml
  docker-compose.dev.yml
  frontend/.dockerignore
  frontend/.env.development
  frontend/Dockerfile.dev
Due: none

chore(backend): track uv.lock
  backend/.gitignore
  backend/uv.lock
Due: none

chore(config-pytest): remove obsolete async and container test tooling
  backend/pyproject.toml
  backend/pytest.ini
Due: none

chore(makefile): add targets for testing, tooling, and dependency management
  Makefile
Due: none

chore(frontend): bump dependencies and pin node engine
  frontend/package-lock.json
Due: prettier

fix(scripts): resolve mypy handler type mismatch in setup_logging
  backend/scripts/python/script_logging.py
Due: add-spdx-header

chore(backend-deps): update uv lockfile
  backend/uv.lock
Due: none

chore(config): fix mypy configuration
  Makefile
  backend/pyproject.toml
Due: none

fix(backend-deps): move django-stubs-ext to runtime deps
  backend/pyproject.toml
  backend/uv.lock
Due: none

build(docker): support full backend bind mount in dev
  backend/.dockerignore
  backend/Dockerfile.dev
  compose.dev.yml
Due: none

chore(mypy): improve Django mypy configuration
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/settings/mypy.py
  backend/pyproject.toml
Due: add-spdx-header

test(backend): dockerize tests with PostgreSQL
  backend/job_trackr/job_trackr/settings/test.py
  compose.dev.yml
  compose.test.yml
Due: add-spdx-header

chore(dev): switch local tooling commands to Docker
  .gitignore
  .ignore
  Makefile
  backend/.dockerignore
  backend/.gitignore
Due: none

fix(dev): make Docker tooling targets self-contained
  Makefile
Due: none

refactor(jobs-model): simplify job posting for manual tracking
  backend/job_trackr/apps/jobs/migrations/0001_initial.py
  backend/job_trackr/apps/jobs/postings/choices.py
  backend/job_trackr/apps/jobs/postings/models.py
  backend/job_trackr/apps/jobs/postings/services/__init__.py
  backend/job_trackr/apps/jobs/postings/services/fingerprint.py
  backend/tests/unit/job_trackr/jobs/postings/services/test_fingerprint.py
Due: add-spdx-header

refactor(jobs-admin): update job posting admin for simplified model
  backend/job_trackr/apps/jobs/postings/admin.py
Due: add-spdx-header

refactor(jobs-postings-api)!: remove ingestion-related fields
  backend/job_trackr/apps/jobs/api/postings/filters.py
  backend/job_trackr/apps/jobs/api/postings/serializers.py
  backend/job_trackr/apps/jobs/api/postings/views.py
Due: add-spdx-header

refactor(jobs-candidacies): improve candidacy admin interface
  backend/job_trackr/apps/jobs/candidacies/admin.py
Due: add-spdx-header

test(jobs): update posting factories and API tests
  backend/tests/factories/job_candidacy.py
  backend/tests/factories/job_posting.py
  backend/tests/integration/jobs/postings/test_job_posting_pagination.py
  backend/tests/integration/jobs/postings/test_posting_queries.py
  backend/tests/integration/jobs/postings/test_postings_api.py
Due: add-spdx-header

chore(backend): tighten mypy config for colocated tests
  Makefile
  backend/job_trackr/apps/jobs/api/postings/serializers.py
  backend/job_trackr/apps/jobs/candidacies/admin.py
  backend/job_trackr/apps/jobs/factories/job_candidacy.py
  backend/job_trackr/apps/jobs/factories/job_posting.py
  backend/job_trackr/apps/jobs/postings/admin.py
  backend/pyproject.toml
  backend/scripts/__init__.py
Due: add-spdx-header

refactor(jobs-candidacies): improve job candidacy model
  backend/job_trackr/apps/jobs/candidacies/choices.py
  backend/job_trackr/apps/jobs/candidacies/models.py
  backend/job_trackr/apps/jobs/migrations/0002_add_candidacy.py
Due: add-spdx-header

refactor(backend): colocate tests with app packages
  backend/job_trackr/apps/common/tests/test_normalization.py
  backend/job_trackr/apps/jobs/factories/__init__.py
  backend/job_trackr/apps/jobs/factories/job_candidacy.py
  backend/job_trackr/apps/jobs/factories/job_posting.py
  backend/job_trackr/apps/jobs/tests/api/conftest.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_posting_pagination.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_posting_queries.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_postings_api.py
  backend/pytest.ini
  backend/scripts/python/tests/test_add_header_to_file.py
  backend/scripts/python/tests/test_add_header_to_file_pep8_spacing.py
  backend/scripts/python/tests/test_add_header_to_file_shebang.py
  backend/scripts/python/tests/test_skip_blank_lines.py
Due: add-spdx-header

feat(jobs): add demo data seed command
  backend/job_trackr/apps/jobs/management/__init__.py
  backend/job_trackr/apps/jobs/management/commands/__init__.py
  backend/job_trackr/apps/jobs/management/commands/seed_demo_jobs.py
Due: add-spdx-header

refactor(frontend): align job posting card with serializer fields
  frontend/src/features/jobs/postings/components/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
  frontend/src/features/jobs/postings/types.ts
  frontend/src/tests/factories/jobPosting.ts
Due: add-spdx-header, eslint, prettier

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
