Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml

default_language_version:
  python: python3.12

repos:
  # --- SPDX Header Hook (local, must run before formatters) ---
  - repo: local
    hooks:
      - id: add-spdx-header
        name: Add SPDX license header to files
        entry: python backend/scripts/python/add_header_to_file.py
        language: system
        pass_filenames: true
        files: \.(py|ts|tsx|js|jsx)$

  # --- Core hygiene checks ---
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-merge-conflict

  # --- Ruff (lint + format) ---
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linter
        args: [--fix] # autofix simple errors
      - id: ruff-format
        name: Ruff formatter

  # --- Frontend lint & format via ESLint ---
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (frontend)
        entry: npm --prefix frontend run lint -- --fix
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

  # --- Frontend formatting using npm script calling Prettier ---
  - repo: local
    hooks:
      - id: prettier
        name: Prettier format (frontend, staged)
        entry: npm --prefix frontend run prettier
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$

refactor(frontend): align job posting card with serializer fields
  frontend/src/features/jobs/postings/components/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
  frontend/src/features/jobs/postings/types.ts
  frontend/src/tests/factories/jobPosting.ts
Due: add-spdx-header, eslint, prettier

refactor(jobs-candidacies): improve candidacy admin interface
  backend/job_trackr/apps/jobs/candidacies/admin.py
Due: add-spdx-header

refactor(jobs-model): simplify job posting for manual tracking
  backend/job_trackr/apps/jobs/migrations/0001_initial.py
  backend/job_trackr/apps/jobs/postings/choices.py
  backend/job_trackr/apps/jobs/postings/models.py
  backend/job_trackr/apps/jobs/postings/services/__init__.py
  backend/job_trackr/apps/jobs/postings/services/fingerprint.py
  backend/tests/unit/job_trackr/jobs/postings/services/test_fingerprint.py
Due: add-spdx-header

chore(backend): tighten mypy config for colocated tests
  Makefile
  backend/job_trackr/apps/jobs/api/postings/serializers.py
  backend/job_trackr/apps/jobs/candidacies/admin.py
  backend/job_trackr/apps/jobs/factories/job_candidacy.py
  backend/job_trackr/apps/jobs/factories/job_posting.py
  backend/job_trackr/apps/jobs/postings/admin.py
  backend/pyproject.toml
  backend/scripts/__init__.py
Due: add-spdx-header

test(jobs): update posting factories and API tests
  backend/tests/factories/job_candidacy.py
  backend/tests/factories/job_posting.py
  backend/tests/integration/jobs/postings/test_job_posting_pagination.py
  backend/tests/integration/jobs/postings/test_posting_queries.py
  backend/tests/integration/jobs/postings/test_postings_api.py
Due: add-spdx-header

chore(Makefile): run local tooling without Docker
  Makefile
Due: none

chore(pre-commit): add backend mypy and deptry pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(backend): exclude factories from deptry checks
  backend/pyproject.toml
Due: none

test(backend): run pytest locally against compose database
  Makefile
  backend/job_trackr/job_trackr/settings/test.py
  compose.test.yml
Due: add-spdx-header

chore(env): use generic database example values
  .env.example
Due: none

chore(compose): rename postgres service to database
  .env.example
  Makefile
  compose.dev.yml
  compose.test.yml
Due: none

chore(settings): configure django-environ
  .env.example
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/settings/dev.py
  backend/job_trackr/job_trackr/settings/mypy.py
  backend/job_trackr/job_trackr/settings/prod.py
  backend/job_trackr/job_trackr/settings/test.py
  backend/job_trackr/job_trackr/settings/utils.py
  backend/pyproject.toml
  backend/uv.lock
Due: add-spdx-header

fix(jobs): add missing candidacy model options migration
  backend/job_trackr/apps/jobs/migrations/0003_add_candidacy_verbose_names.py
Due: add-spdx-header

ci: add backend and frontend validation workflow
  .github/workflows/ci.yml
  frontend/package.json
Due: prettier

chore(env): document database URL synchronization
  .env.example
Due: none

fix(settings): use IPv4 loopback for test database URL
  .github/workflows/ci.yml
  backend/job_trackr/job_trackr/settings/test.py
Due: add-spdx-header

refactor(frontend): move job posting tests into tests directories
  frontend/src/features/jobs/postings/api/tests/listJobPostings.test.ts
  frontend/src/features/jobs/postings/api/tests/normalizeJobPostingParams.test.ts
  frontend/src/features/jobs/postings/components/tests/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/tests/JobPostingFilters.test.tsx
  frontend/src/features/jobs/postings/components/tests/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/tests/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/hooks/tests/useJobPostings.test.ts
Due: add-spdx-header, eslint, prettier

refactor(jobs): unify job posting read serializer
  backend/job_trackr/apps/jobs/api/postings/serializers.py
  backend/job_trackr/apps/jobs/api/postings/views.py
Due: add-spdx-header

refactor(jobs): move demo factories to demo data package
  backend/job_trackr/apps/jobs/demo_data/__init__.py
  backend/job_trackr/apps/jobs/demo_data/job_candidacy.py
  backend/job_trackr/apps/jobs/demo_data/job_posting.py
  backend/job_trackr/apps/jobs/factories/__init__.py
  backend/job_trackr/apps/jobs/management/commands/seed_demo_jobs.py
  backend/pyproject.toml
Due: add-spdx-header

test(jobs): standardize job posting tests
  backend/job_trackr/apps/jobs/tests/api/postings/test_job_posting_api.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_job_posting_pagination.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_job_posting_queries.py
  backend/job_trackr/apps/jobs/tests/api/postings/test_job_posting_serializers.py
  backend/job_trackr/apps/jobs/tests/factories/job_candidacy.py
  backend/job_trackr/apps/jobs/tests/factories/job_posting.py
Due: add-spdx-header

refactor(frontend): rename job posting API type to read model
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/features/jobs/postings/api/tests/listJobPostings.test.ts
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
  frontend/src/features/jobs/postings/components/tests/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/tests/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/tests/useJobPostings.test.ts
  frontend/src/features/jobs/postings/types.ts
  frontend/src/tests/factories/jobPosting.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): add job posting write payload types
  frontend/src/features/jobs/postings/choices.ts
  frontend/src/features/jobs/postings/types.ts
  frontend/src/tests/factories/jobPosting.ts
Due: add-spdx-header, eslint, prettier

feat(frontend-jobs): add create job posting API call
  frontend/src/features/jobs/postings/api/createJobPosting.ts
  frontend/src/features/jobs/postings/api/tests/createJobPosting.test.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): add job posting creation hook
  frontend/src/features/jobs/postings/hooks/tests/useCreateJobPosting.test.tsx
  frontend/src/features/jobs/postings/hooks/useCreateJobPosting.ts
Due: add-spdx-header, eslint, prettier

feat(ui-jobs): add job posting create form
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/jobs/postings/components/JobPostingCreateForm.tsx
  frontend/src/features/jobs/postings/components/tests/JobPostingCreateForm.test.tsx
Due: add-spdx-header, eslint, prettier

feat(ui-jobs): route job postings under jobs
  frontend/src/features/jobs/postings/routes.test.tsx
  frontend/src/features/jobs/postings/routes.tsx
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

test(frontend): cover app shell navigation
  frontend/src/app/Sidebar.tsx
  frontend/src/app/TopBar.tsx
  frontend/src/app/tests/AppLayout.test.tsx
  frontend/src/app/tests/Sidebar.test.tsx
Due: add-spdx-header, eslint, prettier

feat(ui-jobs): add create job posting page
  frontend/src/features/jobs/postings/pages/CreateJobPostingPage.tsx
Due: add-spdx-header, eslint, prettier

fix(csrf): configure local API CSRF handling
  .env.example
  backend/job_trackr/job_trackr/settings/dev.py
  frontend/src/api/client.ts
Due: add-spdx-header, eslint, prettier
