Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

feat(frontend): add @ path alias for src imports
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): introduce app shell with layout, providers, and router setup
  frontend/src/app/App.tsx
  frontend/src/app/AppLayout.tsx
  frontend/src/app/AppProviders.tsx
  frontend/src/app/Sidebar.tsx
  frontend/src/app/TopBar.tsx
  frontend/src/app/index.ts
  frontend/src/main.tsx
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend): move job offers UI into feature-based architecture
  frontend/src/features/job_offers/components/JobOfferList.tsx
  frontend/src/features/job_offers/components/JobOfferRow.tsx
  frontend/src/features/job_offers/hooks/useJobOffers.ts
  frontend/src/features/job_offers/index.ts
  frontend/src/features/job_offers/pages/JobOffersPage.tsx
  frontend/src/features/job_offers/routes.tsx
  frontend/src/features/job_offers/type.ts
  frontend/src/pages/JobOffers.tsx
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

chore(vscode): enforce consistent indentation defaults
  .vscode/settings.json
Due: none

refactor(api): normalize job offer and application endpoints and align frontend client
  backend/app/api/job_applications.py
  backend/app/api/job_offers.py
  frontend/src/api/jobOffer.ts
  frontend/src/features/job_offers/hooks/useJobOffers.ts
Due: add-spdx-header, eslint, prettier

chore: remove build artifacts and obsolete frontend entry point
  backend/app/api/__pycache__/__init__.cpython-312.pyc
  frontend/src/App.tsx
  frontend/src/mocks/jobOffers.ts
Due: add-spdx-header, eslint, prettier

refactor(job-offers): rename JobOffer to JobOfferRead
  frontend/src/api/jobOffer.ts
  frontend/src/features/job_offers/hooks/useJobOffers.ts
  frontend/src/features/job_offers/type.ts
Due: add-spdx-header, eslint, prettier

fix(scripts): make add_header_to_file idempotent and normalize SPDX headers
  backend/scripts/python/add_header_to_file.py
Due: add-spdx-header

fix(scripts): enforce shebang policy and strip shebangs from tests
  backend/scripts/python/add_header_to_file.py
Due: add-spdx-header

fix(scripts): normalize blank lines after SPDX header to match Ruff
  backend/scripts/python/add_header_to_file.py
Due: add-spdx-header

test(scripts): cover blank-line skipping edge cases
  backend/tests/scripts/test_skip_blank_lines.py
Due: add-spdx-header

test(scripts): add regression test for PEP 8 spacing after SPDX header
  backend/tests/scripts/test_add_header_to_file_pep8_spacing.py
Due: add-spdx-header

fix(backend): normalize spacing after SPDX headers across files
  backend/app/api/job_applications.py
  backend/app/api/job_postings.py
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/db/base.py
  backend/app/ingestion/normalization/headers/whitelist.py
  backend/app/lifespan.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/job_application.py
  backend/app/repositories/job_application.py
  backend/app/repositories/job_posting.py
  backend/app/schemas/job_application.py
  backend/app/services/job_posting.py
  backend/scripts/python/ingest_emails.py
  backend/tests/conftest.py
  backend/tests/unit/services/test_job_application_service.py
  backend/tests/unit/services/test_job_posting_service.py
Due: add-spdx-header

fix(job_application): remove onupdate from created_at field
  backend/app/models/job_application.py
Due: add-spdx-header

feat: add job opportunity CRUD API
  backend/app/api/job_opportunities.py
  backend/app/domain/__init__.py
  backend/app/domain/errors.py
  backend/app/main.py
  backend/app/models/job_opportunity.py
  backend/app/repositories/job_opportunity.py
  backend/app/schemas/job_opportunity.py
  backend/app/services/job_opportunity.py
  backend/pyproject.toml
  backend/tests/api/test_job_opportunity.py
Due: add-spdx-header

docs(readme): reframe project as JobTrackr platform
  README.md
Due: none

refactor(job-domain): checkpoint job opportunity refactor before Django switch
  backend/app/api/job_applications.py
  backend/app/api/job_opportunities.py
  backend/app/api/job_postings.py
  backend/app/models/job_application.py
  backend/app/models/job_opportunity.py
  backend/app/models/job_posting.py
  backend/app/repositories/job_application.py
  backend/app/repositories/job_posting.py
  backend/app/schemas/job_application.py
  backend/app/schemas/job_opportunity.py
  backend/app/schemas/job_posting.py
  backend/app/services/job_application.py
  backend/app/services/job_posting.py
Due: add-spdx-header

chore(django): bootstrap Django project, apps, and gitignore
  backend/.gitignore
  backend/job-trackr/apps/__init__.py
  backend/job-trackr/apps/ingestion/__init__.py
  backend/job-trackr/apps/ingestion/admin.py
  backend/job-trackr/apps/ingestion/apps.py
  backend/job-trackr/apps/ingestion/migrations/__init__.py
  backend/job-trackr/apps/ingestion/models.py
  backend/job-trackr/apps/ingestion/tests.py
  backend/job-trackr/apps/ingestion/views.py
  backend/job-trackr/apps/job_applications/__init__.py
  backend/job-trackr/apps/job_applications/admin.py
  backend/job-trackr/apps/job_applications/apps.py
  backend/job-trackr/apps/job_applications/migrations/__init__.py
  backend/job-trackr/apps/job_applications/models.py
  backend/job-trackr/apps/job_applications/tests.py
  backend/job-trackr/apps/job_applications/views.py
  backend/job-trackr/apps/jobs/__init__.py
  backend/job-trackr/apps/jobs/admin.py
  backend/job-trackr/apps/jobs/apps.py
  backend/job-trackr/apps/jobs/migrations/__init__.py
  backend/job-trackr/apps/jobs/models.py
  backend/job-trackr/apps/jobs/tests.py
  backend/job-trackr/apps/jobs/views.py
  backend/job-trackr/job_trackr/__init__.py
  backend/job-trackr/job_trackr/asgi.py
  backend/job-trackr/job_trackr/settings/__init__.py
  backend/job-trackr/job_trackr/settings/base.py
  backend/job-trackr/job_trackr/settings/dev.py
  backend/job-trackr/job_trackr/settings/prod.py
  backend/job-trackr/job_trackr/urls.py
  backend/job-trackr/job_trackr/wsgi.py
  backend/job-trackr/manage.py
  backend/pyproject.toml
Due: add-spdx-header

feat(job-extraction): add FastAPI endpoint for email ingestion
  backend/job_extraction/api/job_postings.py
  backend/job_extraction/main.py
  backend/pyproject.toml
  backend/tests/unit/job_extraction/__init__.py
  backend/tests/unit/job_extraction/test_config.py
  backend/tests/unit/job_extraction/test_job_postings_api.py
Due: add-spdx-header

chore(docker): add dev compose and Dockerfile for job-extraction service
  Makefile
  backend/.dockerignore
  backend/docker/job-extraction/Dockerfile.dev
  docker-compose.dev.yml
Due: none

chore(env): split environment examples per service and update dev tooling
  .env.example
  Makefile
  backend/.gitignore
  backend/env/job-extraction/.env.example
  backend/env/job-trackr/.env.example
  backend/env/postgres/.env.example
Due: none

config(django): load settings from environment variables
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/settings/utils.py
Due: add-spdx-header

fix(django): serve admin static files in development
  backend/job_trackr/job_trackr/urls.py
Due: add-spdx-header

feat(docker): add dev container for job-trackr with postgres
  backend/docker/job-trackr/Dockerfile.dev
  backend/docker/job-trackr/entrypoint.sh
  docker-compose.dev.yml
Due: none

chore(dx): add helper script for local development
  backend/scripts/python/generate_secret_key.py
Due: add-spdx-header

feat(dev): add Dockerized Django dev environment with Postgres
  .env.example
  Makefile
  backend/.gitignore
  backend/docker/job-trackr/Dockerfile.dev
  backend/docker/job-trackr/entrypoint.sh
  backend/env/job-extraction/.env.example
  backend/env/job-trackr/.env.example
  backend/env/postgres/.env.example
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/settings/utils.py
  backend/job_trackr/job_trackr/urls.py
  backend/scripts/python/generate_secret_key.py
  docker-compose.dev.yml
Due: add-spdx-header

test: reorganize legacy FastAPI tests under isolated folders
  backend/tests/__init__.py
  backend/tests/api/__init__.py
  backend/tests/integration/fastapi_old/api/__init__.py
  backend/tests/integration/fastapi_old/api/test_job_applications_api.py
  backend/tests/integration/fastapi_old/api/test_job_opportunity.py
  backend/tests/integration/fastapi_old/api/test_job_posting_api.py
  backend/tests/integration/fastapi_old/conftest.py
  backend/tests/unit/__init__.py
  backend/tests/unit/conftest.py
  backend/tests/unit/fastapi_old/parsers/__init__.py
  backend/tests/unit/fastapi_old/parsers/test_indeed_parser.py
  backend/tests/unit/fastapi_old/services/test_job_application_service.py
  backend/tests/unit/fastapi_old/services/test_job_posting_service.py
  backend/tests/unit/job_extraction/__init__.py
  backend/tests/unit/parsers/__init__.py
Due: add-spdx-header

feat(domain): define core job, posting, application, and ingestion models
  backend/job_trackr/apps/ingestion/models.py
  backend/job_trackr/apps/job_applications/models.py
  backend/job_trackr/apps/jobs/models.py
Due: add-spdx-header

feat(db): add initial migrations for jobs, applications, and ingestion
  backend/job_trackr/apps/ingestion/migrations/0001_initial.py
  backend/job_trackr/apps/job_applications/migrations/0001_initial.py
  backend/job_trackr/apps/jobs/migrations/0001_initial.py
Due: add-spdx-header

feat(admin): register core domain models in Django admin
  backend/job_trackr/apps/ingestion/admin.py
  backend/job_trackr/apps/job_applications/admin.py
  backend/job_trackr/apps/jobs/admin.py
Due: add-spdx-header

test(django): configure pytest-django and add integration tests for domain models
  backend/job_trackr/apps/jobs/models.py
  backend/job_trackr/job_trackr/settings/test.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/integration/job_trackr/models/test_ingestion.py
  backend/tests/integration/job_trackr/models/test_job_applications.py
  backend/tests/integration/job_trackr/models/test_jobs_model.py
Due: add-spdx-header

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
