Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

.pre-commit-config.yaml:

# .pre-commit-config.yaml

default_language_version:
  python: python3.12

repos:
  # --- SPDX Header Hook (local, must run before formatters) ---
  - repo: local
    hooks:
      - id: add-spdx-header
        name: Add SPDX license header to files
        entry: python backend/scripts/python/add_header_to_file.py
        language: system
        pass_filenames: true
        files: \.(py|ts|tsx|js|jsx)$

  # --- Core hygiene checks ---
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-merge-conflict

  # --- Ruff (lint + format) ---
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        name: Ruff linter
        args: [--fix] # autofix simple errors
      - id: ruff-format
        name: Ruff formatter

  # --- Frontend lint & format via ESLint ---
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (frontend)
        entry: npm --prefix frontend run lint -- --fix
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$

  # --- Frontend formatting using npm script calling Prettier ---
  - repo: local
    hooks:
      - id: prettier
        name: Prettier format (frontend, staged)
        entry: npm --prefix frontend run prettier
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$

refactor(postings): centralize params normalization for API and query cache
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
Due: add-spdx-header, eslint, prettier

feat(postings-ui): add filters hook, UI and interaction tests
  frontend/src/features/jobs/postings/components/JobPostingFilters.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingFilters.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.ts
  frontend/src/features/jobs/postings/pages/JobPostingsPage.tsx
Due: add-spdx-header, eslint, prettier

refactor(postings-list): use params-based state and update tests
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
Due: add-spdx-header, eslint, prettier

refactor(postings-types): centralize filter and query param types
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.ts
  frontend/src/features/jobs/postings/types.ts
Due: add-spdx-header, eslint, prettier

fix(postings-filters): align pageSize default and normalize filter state
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.ts
Due: add-spdx-header, eslint, prettier

fix(postings-ui): render empty state within layout to preserve non-blocking error UI
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
Due: add-spdx-header, eslint, prettier

test(postings-api): add unit tests for param normalization and trim input values
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.test.ts
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.ts
Due: add-spdx-header, eslint, prettier

chore(docs): remove CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(makefile): remove ingestion targets and simplify mypy target
  Makefile
Due: none

docs: rewrite README to reflect current project scope
  README.md
Due: none

chore(tooling): add deptry for dependency analysis
  backend/pyproject.toml
Due: none

chore(config-pytest): remove obsolete async and container test tooling
  backend/pyproject.toml
  backend/pytest.ini
Due: none

chore(backend-deps): remove unused backend dependencies
  backend/pyproject.toml
Due: none

chore(config): fix mypy configuration
  Makefile
  backend/pyproject.toml
Due: none

chore(backend): track uv.lock
  backend/.gitignore
  backend/uv.lock
Due: none

fix(scripts): resolve mypy handler type mismatch in setup_logging
  backend/scripts/python/script_logging.py
Due: add-spdx-header

chore(repo): add .ignore file for cleaner search and tooling
  .ignore
Due: none

chore(coverage): update backend coverage config
  Makefile
  backend/.coveragerc
Due: none

chore(backend-deps): update uv lockfile
  backend/uv.lock
Due: none

refactor(docker): restructure dev compose and Dockerfile layout
  .env.example
  Makefile
  backend/.dockerignore
  backend/Dockerfile.dev
  backend/docker/job-trackr/Dockerfile.dev
  backend/docker/job-trackr/entrypoint.sh
  backend/entrypoint_dev.sh
  backend/env/postgres/.env.example
  compose.dev.yml
  docker-compose.dev.yml
  frontend/.dockerignore
  frontend/.env.development
  frontend/Dockerfile.dev
Due: none

chore(makefile): add targets for testing, tooling, and dependency management
  Makefile
Due: none

chore(frontend): bump dependencies and pin node engine
  frontend/package-lock.json
Due: prettier

chore(vscode): add file associations for .coveragerc and .ignore
  .vscode/settings.json
Due: none

chore(gitignore): clean up and consolidate ignore rules
  .gitignore
  backend/.gitignore
Due: none

chore(dev-tools): run backend tooling through uv
  Makefile
  backend/pyproject.toml
  frontend/package.json
Due: prettier

chore(dev-docker): fix tooling paths and Docker dev setup
  backend/Dockerfile.dev
  backend/entrypoint_dev.sh
  backend/pyproject.toml
Due: none

chore(dev-docker): clarify cleanup targets and dev dependencies
  .vscode/settings.json
  Makefile
  backend/Dockerfile.dev
  scripts/prune_global_docker.sh
Due: none
