Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

chore(api): document company index usage and align filter test naming
  backend/job_trackr/apps/jobs/postings/models.py
  backend/tests/integration/jobs/postings/test_posting_queries.py
Due: add-spdx-header

perf(db): add indexes for common job posting filters
  backend/job_trackr/apps/jobs/migrations/0009_add_query_indexes.py
  backend/job_trackr/apps/jobs/postings/models.py
Due: add-spdx-header

feat(api): add search filtering and ordering for job postings
  backend/job_trackr/apps/jobs/api/postings/filters.py
  backend/job_trackr/apps/jobs/api/postings/serializers.py
  backend/job_trackr/apps/jobs/api/postings/views.py
  backend/job_trackr/job_trackr/settings/base.py
  backend/pyproject.toml
Due: add-spdx-header

fix(api): align platform filter with index and simplify has_salary logic
  backend/job_trackr/apps/jobs/api/postings/filters.py
Due: add-spdx-header

test(api): cover job posting search filters and ordering
  backend/tests/integration/jobs/postings/test_posting_queries.py
Due: add-spdx-header

chore(types): add typing for django-filter and custom filter methods
  backend/job_trackr/apps/jobs/api/postings/filters.py
  backend/pyproject.toml
Due: add-spdx-header

chore(dev): add backend uv sync make target
  Makefile
Due: none

test(api): parametrize custom job posting filter tests
  backend/tests/integration/jobs/postings/test_posting_queries.py
Due: add-spdx-header

test(api): add coverage for rating and explicit text filters
  backend/tests/integration/jobs/postings/test_posting_queries.py
Due: add-spdx-header

feat(postings-api): support filtering params and sanitize query inputs
  frontend/src/features/jobs/postings/api/listJobPostings.test.ts
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/features/jobs/postings/types.ts
Due: add-spdx-header, eslint, prettier

feat(postings-ui): add filters hook, UI and interaction tests
  frontend/src/features/jobs/postings/components/JobPostingFilters.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingFilters.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.ts
  frontend/src/features/jobs/postings/pages/JobPostingsPage.tsx
Due: add-spdx-header, eslint, prettier

refactor(postings-list): use params-based state and update tests
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
Due: add-spdx-header, eslint, prettier

feat(postings-ui): improve accessibility of filters with labels and fieldset
  frontend/src/features/jobs/postings/components/JobPostingFilters.tsx
Due: add-spdx-header, eslint, prettier

refactor(postings): centralize params normalization for API and query cache
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
Due: add-spdx-header, eslint, prettier

refactor(postings-types): centralize filter and query param types
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.ts
  frontend/src/features/jobs/postings/types.ts
Due: add-spdx-header, eslint, prettier

refactor(postings-hooks): separate filters from pagination state
  frontend/src/features/jobs/postings/components/JobPostingFilters.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingFilters.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/features/jobs/postings/pages/JobPostingsPage.tsx
Due: add-spdx-header, eslint, prettier

fix(postings-filters): align pageSize default and normalize filter state
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.ts
Due: add-spdx-header, eslint, prettier

test(postings): use DEFAULT_JOB_POSTINGS_PAGE_SIZE instead of hardcoded values
  frontend/src/features/jobs/postings/api/listJobPostings.test.ts
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
Due: add-spdx-header, eslint, prettier

refactor(postings-filters): switch to camelCase frontend params and map to API snake_case
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.ts
  frontend/src/features/jobs/postings/components/JobPostingFilters.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingFilters.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/types.ts
Due: add-spdx-header, eslint, prettier

fix(postings-ui): handle background refetch errors without clearing existing results
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
Due: add-spdx-header, eslint, prettier

test(postings): use DEFAULT_JOB_POSTINGS_PAGE_SIZE instead of hardcoded values
  frontend/src/features/jobs/postings/api/listJobPostings.test.ts
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
Due: add-spdx-header, eslint, prettier

fix(postings-ui): render empty state within layout to preserve non-blocking error UI
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
Due: add-spdx-header, eslint, prettier

refactor(postings): decouple normalization from API layer and remove default ordering
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/features/jobs/postings/components/JobPostingFilters.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
Due: add-spdx-header, eslint, prettier

test(postings): align tests with normalized params and canonical filter state
  frontend/src/features/jobs/postings/api/listJobPostings.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
Due: add-spdx-header, eslint, prettier

test(postings-api): add unit tests for param normalization and trim input values
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.test.ts
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.ts
Due: add-spdx-header, eslint, prettier

chore(postings): improve wording consistency in tests and documentation
  frontend/src/features/jobs/postings/api/normalizeJobPostingParams.test.ts
  frontend/src/features/jobs/postings/components/JobPostingFilters.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
  frontend/src/features/jobs/postings/types.ts
Due: add-spdx-header, eslint, prettier

test(postings): cover non-blocking error state and filter reset invariants
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostingFilters.test.ts
Due: add-spdx-header, eslint, prettier

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
