Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

fix(frontend-auth): clear stale account data before paint
  frontend/src/features/auth/components/session/AuthBootstrap.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add forgot password form
  frontend/src/features/auth/components/form/ForgotPasswordForm.tsx
  frontend/src/features/auth/components/form/tests/ForgotPasswordForm.test.tsx
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): clarify password reset errors
  frontend/src/features/auth/pages/ResetPasswordPage.tsx
  frontend/src/features/auth/pages/tests/ResetPasswordPage.test.tsx
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): allow users without email addresses
  frontend/src/features/auth/types.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): add password reset request mutation hook
  frontend/src/features/auth/hooks/tests/useRequestPasswordReset.test.ts
  frontend/src/features/auth/hooks/useRequestPasswordReset.ts
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): handle session bootstrap failures
  frontend/src/features/auth/components/session/AuthBootstrap.tsx
  frontend/src/tests/router.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend): add password reset mutation hook
  frontend/src/features/auth/hooks/tests/useResetPassword.test.ts
  frontend/src/features/auth/hooks/useResetPassword.ts
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): show logout failure feedback
  frontend/src/features/auth/components/form/LogoutButton.tsx
  frontend/src/features/auth/components/form/tests/LogoutButton.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add email verification page
  frontend/src/features/auth/components/AuthPageHeader.tsx
  frontend/src/features/auth/pages/VerifyEmailPage.tsx
  frontend/src/features/auth/pages/tests/VerifyEmailPage.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add signup form
  frontend/src/features/auth/components/form/SignupForm.tsx
  frontend/src/features/auth/components/form/tests/SignupForm.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend): add login mutation hook
  frontend/src/features/auth/hooks/tests/useLogin.test.ts
  frontend/src/features/auth/hooks/useLogin.ts
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add reset password form
  frontend/src/features/auth/components/form/ResetPasswordForm.tsx
  frontend/src/features/auth/components/form/tests/ResetPasswordForm.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend): add session query hook
  frontend/src/features/auth/hooks/tests/useSession.test.ts
  frontend/src/features/auth/hooks/useSession.ts
  frontend/src/features/auth/keys.ts
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): clear cached data on account switch
  frontend/src/features/auth/components/session/AuthBootstrap.tsx
  frontend/src/tests/router.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend): add logout mutation hook
  frontend/src/features/auth/hooks/tests/useLogout.test.ts
  frontend/src/features/auth/hooks/useLogout.ts
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add login page
  frontend/src/features/auth/pages/LoginPage.tsx
  frontend/src/features/auth/pages/tests/LoginPage.test.tsx
Due: add-spdx-header, eslint, prettier

test(frontend): add auth test factories
  frontend/src/tests/factories/auth.ts
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): forward session query cancellation
  frontend/src/features/auth/api/authApi.ts
  frontend/src/features/auth/api/tests/authApi.test.ts
  frontend/src/features/auth/hooks/tests/useSession.test.ts
  frontend/src/features/auth/hooks/useSession.ts
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add forgot password page
  frontend/src/features/auth/pages/ForgotPasswordPage.tsx
  frontend/src/features/auth/pages/tests/ForgotPasswordPage.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add password reset page
  frontend/src/features/auth/pages/ResetPasswordPage.tsx
  frontend/src/features/auth/pages/tests/ResetPasswordPage.test.tsx
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): prevent stale session cache updates
  frontend/src/features/auth/hooks/tests/useLogin.test.ts
  frontend/src/features/auth/hooks/tests/useLogout.test.ts
  frontend/src/features/auth/hooks/tests/useResetPassword.test.ts
  frontend/src/features/auth/hooks/tests/useSignup.test.ts
  frontend/src/features/auth/hooks/tests/useVerifyEmail.test.ts
  frontend/src/features/auth/hooks/useLogin.ts
  frontend/src/features/auth/hooks/useLogout.ts
  frontend/src/features/auth/hooks/useResetPassword.ts
  frontend/src/features/auth/hooks/useSignup.ts
  frontend/src/features/auth/hooks/useVerifyEmail.ts
  frontend/src/tests/utils.tsx
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): expose invalid auth link states
  frontend/src/router.tsx
  frontend/src/tests/router.test.tsx
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): restore protected route after login
  frontend/src/features/auth/components/session/GuestOnlyRoute.tsx
  frontend/src/features/auth/pages/LoginPage.tsx
  frontend/src/features/auth/pages/tests/LoginPage.test.tsx
  frontend/src/tests/router.test.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add shared layout for authentication pages
  frontend/src/features/auth/components/AuthLayout.tsx
  frontend/src/features/auth/pages/ForgotPasswordPage.tsx
  frontend/src/features/auth/pages/LoginPage.tsx
  frontend/src/features/auth/pages/ResetPasswordPage.tsx
  frontend/src/features/auth/pages/SignupPage.tsx
  frontend/src/features/auth/pages/VerifyEmailPage.tsx
Due: add-spdx-header, eslint, prettier

fix(frontend-auth): clear cached data on session expiry
  frontend/src/features/auth/cache.ts
  frontend/src/features/auth/components/session/AuthBootstrap.tsx
  frontend/src/features/auth/hooks/useLogout.ts
  frontend/src/features/auth/tests/cache.test.ts
  frontend/src/tests/router.test.tsx
  frontend/src/tests/utils.tsx
Due: add-spdx-header, eslint, prettier

feat(frontend-auth): add login form
  frontend/src/components/form/InputField.tsx
  frontend/src/features/auth/components/form/FormMessage.tsx
  frontend/src/features/auth/components/form/LoginForm.tsx
  frontend/src/features/auth/components/form/SubmitButton.tsx
  frontend/src/features/auth/components/form/tests/LoginForm.test.tsx
Due: add-spdx-header, eslint, prettier

fix(backend): verify demo user email addresses
  backend/job_trackr/apps/users/demo_data/user.py
Due: add-spdx-header

feat(backend): add production container setup
  backend/.dockerignore
  backend/Dockerfile.prod
  backend/job_trackr/job_trackr/settings/base.py
  backend/job_trackr/job_trackr/settings/build.py
  backend/job_trackr/job_trackr/settings/prod.py
  backend/pyproject.toml
  backend/uv.lock
Due: add-spdx-header

feat(frontend): add production nginx container
  frontend/.dockerignore
  frontend/Dockerfile.prod
  frontend/nginx.conf
Due: none

test(ci): add production container smoke tests
  .github/scripts/smoke-images.py
  .github/scripts/smoke-images.sh
Due: add-spdx-header

ci: add production image build workflow
  .github/actions/build-production-images/action.yml
  .github/workflows/docker-build.yml
Due: none

ci: publish production images to GHCR
  .github/workflows/ci.yml
  .github/workflows/publish-images.yml
Due: none

feat(backend): add database health endpoint
  backend/job_trackr/job_trackr/health.py
  backend/job_trackr/job_trackr/tests/test_health.py
  backend/job_trackr/job_trackr/urls.py
Due: add-spdx-header

fix(backend): resolve candidacy serializer mypy error
  backend/job_trackr/apps/jobs/api/candidacies/serializers.py
Due: add-spdx-header

chore(deps): update backend dependencies and constrain Django to 6.0
  backend/pyproject.toml
  backend/uv.lock
Due: none

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
