Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

test(api): strengthen pagination last page assertions
  backend/tests/integration/job_trackr/jobs/postings/test_job_posting_pagination.py
Due: add-spdx-header

fix(test): ensure JobPostingFactory fields are lazily evaluated per instance
  backend/tests/factories/job_posting.py
Due: add-spdx-header

test(api): add pagination tests for job postings endpoint
  backend/tests/integration/job_trackr/jobs/postings/test_job_posting_pagination.py
Due: add-spdx-header

docs(api): clarify pagination source of truth and DRF behavior
  backend/job_trackr/apps/common/api/pagination.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

docs(api): clarify global pagination behavior and API contract
  backend/job_trackr/apps/common/api/pagination.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

feat(api): add default pagination for DRF endpoints
  backend/job_trackr/apps/common/api/__init__.py
  backend/job_trackr/apps/common/api/pagination.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

test(factories): add JobPosting and JobOpportunity factories
  backend/pyproject.toml
  backend/tests/factories/job_opportunity.py
  backend/tests/factories/job_posting.py
Due: add-spdx-header

test(factories): reuse shared JobOpportunity in pagination tests
  backend/tests/integration/job_trackr/jobs/postings/test_job_posting_pagination.py
Due: add-spdx-header

test(api): update list endpoint tests to use paginated responses
  backend/tests/integration/job_trackr/jobs/opportunities/test_opportunities_api.py
  backend/tests/integration/job_trackr/jobs/postings/test_postings_api.py
Due: add-spdx-header

refactor(tests): remove job_trackr namespace from integration tests
  backend/tests/integration/api/conftest.py
  backend/tests/integration/api/test_ingest_job_postings.py
  backend/tests/integration/commands/test_process_ingested_jobs_command.py
  backend/tests/integration/jobs/conftest.py
  backend/tests/integration/jobs/opportunities/test_opportunities_api.py
  backend/tests/integration/jobs/postings/test_job_posting_pagination.py
  backend/tests/integration/jobs/postings/test_postings_api.py
  backend/tests/integration/models/test_ingestion.py
  backend/tests/integration/models/test_job_applications.py
  backend/tests/integration/models/test_jobs_model.py
  backend/tests/integration/services/test_ingestion_processor.py
Due: add-spdx-header

refactor(tests): organize integration tests by domain (ingestion, jobs, job_applications)
  backend/tests/integration/ingestion/api/conftest.py
  backend/tests/integration/ingestion/api/test_ingest_job_postings.py
  backend/tests/integration/ingestion/commands/test_process_ingested_jobs_command.py
  backend/tests/integration/ingestion/models/test_ingestion.py
  backend/tests/integration/ingestion/services/test_ingestion_processor.py
  backend/tests/integration/job_applications/models/test_job_applications.py
  backend/tests/integration/jobs/models/test_jobs_models.py
Due: add-spdx-header

refactor(api): support paginated job postings responses
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/types/pagination.ts
Due: add-spdx-header, eslint, prettier

feat(jobs): add paginated job postings query hook
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
Due: add-spdx-header, eslint, prettier

feat(ui): add pagination controls to job postings list
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
  frontend/src/features/jobs/postings/constants.ts
  frontend/src/features/jobs/postings/pages/JobPostingsPage.tsx
Due: add-spdx-header, eslint, prettier

test(frontend): add paginated response factory for test fixtures
  frontend/src/tests/factories/paginatedResponse.ts
Due: add-spdx-header, eslint, prettier

chore(frontend): simplify tsconfig path alias configuration
  frontend/tsconfig.app.json
Due: prettier

chore(git): rename ignored local workspace folder to private
  .gitignore
  backend/.gitignore
Due: none

feat(frontend): improve job posting pagination empty-state handling
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
Due: add-spdx-header, eslint, prettier

refactor(frontend): centralize pagination page size and document tsconfig alias setup
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/tsconfig.app.json
Due: add-spdx-header, eslint, prettier

feat(frontend): improve pagination fetching UX for job posting list
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
Due: add-spdx-header, eslint, prettier

chore(dev): add backend uv sync make target
  Makefile
Due: none

perf(db): add indexes for common job posting filters
  backend/job_trackr/apps/jobs/migrations/0009_add_query_indexes.py
  backend/job_trackr/apps/jobs/postings/models.py
Due: add-spdx-header

feat(api): add search filtering and ordering for job postings
  backend/job_trackr/apps/jobs/api/postings/filters.py
  backend/job_trackr/apps/jobs/api/postings/serializers.py
  backend/job_trackr/apps/jobs/api/postings/views.py
  backend/job_trackr/job_trackr/settings/base.py
  backend/pyproject.toml
Due: add-spdx-header

test(api): cover job posting search filters and ordering
  backend/tests/integration/jobs/postings/test_posting_queries.py
Due: add-spdx-header

fix(api): align platform filter with index and simplify has_salary logic
  backend/job_trackr/apps/jobs/api/postings/filters.py
Due: add-spdx-header

test(api): parametrize custom job posting filter tests
  backend/tests/integration/jobs/postings/test_posting_queries.py
Due: add-spdx-header

chore(types): add typing for django-filter and custom filter methods
  backend/job_trackr/apps/jobs/api/postings/filters.py
  backend/pyproject.toml
Due: add-spdx-header

test(api): add coverage for rating and explicit text filters
  backend/tests/integration/jobs/postings/test_posting_queries.py
Due: add-spdx-header

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
