Repository clement-zentz/job-trackr: changes, and which pre-commit hooks are due for each by the changed paths.
All: add-spdx-header, eslint, prettier

add-spdx-header:
  name: Add SPDX license header to files
  entry: python backend/scripts/python/add_header_to_file.py
  language: system
  pass_filenames: true

eslint:
  name: ESLint (frontend)
  entry: npm --prefix frontend run lint -- --fix
  language: system
  pass_filenames: false

prettier:
  name: Prettier format (frontend, staged)
  entry: npm --prefix frontend run prettier
  language: system
  pass_filenames: false

refactor(job-postings): improve date rendering in JobPostingCard
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
Due: add-spdx-header, eslint, prettier

test(job-postings): update date rendering tests for JobPostingCard
  frontend/src/features/jobs/postings/components/JobPostingCard.test.tsx
Due: add-spdx-header, eslint, prettier

test(frontend): enable automatic mock restoration in Vitest
  frontend/vite.config.ts
Due: add-spdx-header, eslint, prettier

fix(frontend): correctly load env variables in Vite config
  frontend/vite.config.ts
Due: add-spdx-header, eslint, prettier

docs(readme): clarify Docker-only development setup
  README.md
Due: none

fix(frontend): use relative path for job postings route
  frontend/src/features/jobs/postings/routes.tsx
Due: add-spdx-header, eslint, prettier

chore(frontend): specify minimum Node.js version
  frontend/package.json
Due: prettier

test(frontend): use Vitest-specific jest-dom entrypoint
  frontend/src/setupTests.ts
Due: add-spdx-header, eslint, prettier

fix(frontend): pin Node.js version in Dockerfile
  frontend/Dockerfile
Due: none

test(job-postings): improve React Query mock typing in JobPostingList tests
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
Due: add-spdx-header, eslint, prettier

test(job-postings): add tests for hooks and components
  frontend/src/features/jobs/postings/components/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/tests/utils.tsx
Due: add-spdx-header, eslint, prettier

fix(job-postings): type axios response in listJobPostings
  frontend/src/features/jobs/postings/api/listJobPostings.ts
Due: add-spdx-header, eslint, prettier

refactor(frontend): remove deprecated job_offers feature
  frontend/src/api/jobOffer.ts
  frontend/src/features/job_offers/components/JobOfferList.tsx
  frontend/src/features/job_offers/components/JobOfferRow.tsx
  frontend/src/features/job_offers/hooks/useJobOffers.ts
  frontend/src/features/job_offers/index.ts
  frontend/src/features/job_offers/pages/JobOffersPage.tsx
  frontend/src/features/job_offers/routes.tsx
  frontend/src/features/job_offers/type.ts
  frontend/src/mocks/jobOffers.ts
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

chore(dev): add frontend service to docker-compose and improve Makefile cleanup
  Makefile
  docker-compose.dev.yml
Due: none

fix(router): add missing routes for dashboard and settings
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

fix(job-postings): handle empty location values in JobPostingCard
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
Due: add-spdx-header, eslint, prettier

chore(frontend/app): update UI labels, navigation and index exports
  frontend/src/app/Sidebar.tsx
  frontend/src/app/TopBar.tsx
  frontend/src/app/index.ts
Due: add-spdx-header, eslint, prettier

chore(frontend): make Vite proxy target configurable via env
  frontend/.env.development
  frontend/vite.config.ts
Due: add-spdx-header, eslint, prettier

feat(frontend): integrate React Query provider
  frontend/src/app/AppProviders.tsx
Due: add-spdx-header, eslint, prettier

refactor(tests): introduce JobPosting factory and remove duplicated fixtures
  frontend/src/features/jobs/postings/components/JobPostingCard.test.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.test.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.test.ts
  frontend/src/tests/factories/jobPosting.ts
Due: add-spdx-header, eslint, prettier

chore(frontend): setup Vitest and React Testing Library
  frontend/package-lock.json
  frontend/package.json
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Due: add-spdx-header, eslint, prettier

feat(job-postings): implement job postings list feature
  frontend/src/app/Sidebar.tsx
  frontend/src/features/jobs/postings/api/listJobPostings.ts
  frontend/src/features/jobs/postings/components/JobPostingCard.tsx
  frontend/src/features/jobs/postings/components/JobPostingList.tsx
  frontend/src/features/jobs/postings/hooks/useJobPostings.ts
  frontend/src/features/jobs/postings/index.ts
  frontend/src/features/jobs/postings/pages/JobPostingsPage.tsx
  frontend/src/features/jobs/postings/routes.tsx
  frontend/src/features/jobs/postings/types.ts
  frontend/src/router.tsx
Due: add-spdx-header, eslint, prettier

feat(api): add default pagination for DRF endpoints
  backend/job_trackr/apps/common/api/__init__.py
  backend/job_trackr/apps/common/api/pagination.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

test(factories): add JobPosting and JobOpportunity factories
  backend/pyproject.toml
  backend/tests/factories/job_opportunity.py
  backend/tests/factories/job_posting.py
Due: add-spdx-header

test(api): add pagination tests for job postings endpoint
  backend/tests/integration/job_trackr/jobs/postings/test_job_posting_pagination.py
Due: add-spdx-header

docs(api): clarify pagination source of truth and DRF behavior
  backend/job_trackr/apps/common/api/pagination.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

fix(test): ensure JobPostingFactory fields are lazily evaluated per instance
  backend/tests/factories/job_posting.py
Due: add-spdx-header

docs(api): clarify global pagination behavior and API contract
  backend/job_trackr/apps/common/api/pagination.py
  backend/job_trackr/job_trackr/settings/base.py
Due: add-spdx-header

test(api): update list endpoint tests to use paginated responses
  backend/tests/integration/job_trackr/jobs/opportunities/test_opportunities_api.py
  backend/tests/integration/job_trackr/jobs/postings/test_postings_api.py
Due: add-spdx-header

test(factories): reuse shared JobOpportunity in pagination tests
  backend/tests/integration/job_trackr/jobs/postings/test_job_posting_pagination.py
Due: add-spdx-header

Path conditions:
  add-spdx-header: any of: \.(py|ts|tsx|js|jsx)$
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|css|md|json|html)$
